:root {
    --primary-color: #2696bd;
    --background-color: #ffffff;
    --secondary-background-color: #f0f2f6;
    --text-color: #31333F;
    --font: "Source Sans Pro", sans-serif;
}


div.css-1hynsf2 {
    width: 320px;
}
div.stNumberInput {
    width: 320px;
}
.css-183lzff.eyqtai90{
    font-family: "Source Code Pro", monospace;
    white-space: pre;
    font-size: 22px;
    text-align: center;
    overflow-x: auto;
    background-color: #2696bd;
    color: white;
    width: 550px;
}
.css-12i0ff:hover{
    background-color: #2696bd;
    color: white;
}
.css-1h3mxa0:hover{
    background-color: #2696bd;
    color: white;
}
.e1wbw4rs0:hover{
    background-color: #2696bd;
    color: white;
}

.menu .nav-item .nav-link.active[data-v-4323f8ce] {
    background-color: #2696bd;
}
.menu .nav-item .nav-link.active[data-v-4323f8ce] {
    background-color: #2696bd;
}

.st-dt {
    border-bottom-color: #2696bd;
}

.st-ds {
    border-top-color: #2696bd;
}

.st-dr {
    border-right-color: #2696bd;
}

.st-dq {
    border-left-color: #2696bd;
}

.st-dt {
    border-bottom-color: #2696bd;
}

.st-ds {
    border-top-color: #2696bd;
}

.st-dr {
    border-right-color: #2696bd;
}

.st-dq {
    border-left-color: #2696bd;
}
.st-g1::after {
    background-color: #2696bd;
}
:root {
    --primary-color: #2696bd;
    --background-color: #ffffff;
    --secondary-background-color: #f0f2f6;
    --text-color: #31333F;
    --font: "Source Sans Pro", sans-serif;
}