div.css-1hynsf2 {
    width: 320px;
}
div.stNumberInput {
    width: 320px;
}
.css-183lzff.eyqtai90{
    font-family: "Source Code Pro", monospace;
    white-space: pre;
    font-size: 22px;
    text-align: center;
    overflow-x: auto;
    background-color: #2696bd;
    color: white;
    width: 550px;
}
.css-12i0ff:hover{
    background-color: #2696bd;
    color: white;
}

